.grid-layout {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 2fr 2fr;
  grid-template-areas:
    "header header header"
    "aside product product"
    "aside product product";
}

.aside {
  grid-area: aside;
}

.sidebar {
  margin: 2rem;
}

.sidebar,
.aside-rating,
.aside-category,
.aside-sort {
  display: flex;
  flex-direction: column;
  line-height: 2;
}

.aside-filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.aside-filter-clear {
  margin: 1rem;
}

.product {
  grid-area: product;
}

.product-section-title {
  margin-left: 5.3rem;
  margin-top: 1rem;
}

.product-component {
  padding: 2rem;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.card-img {
  object-fit: contain;
}

.category,
.star,
.sort {
  cursor: pointer;
}