
.grid-layout {
    display: grid;
    height: 100vh;
    grid-template-areas: "header header header"
                        "... ... ..."
                        "... signup ..."
                        "... ... ..."
}

.form {
    grid-area: form;
}

.signup-checkbox {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}